@import url('variables.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
}
body {
    font-family: "heavy", sans-serif;
}

.img{
    margin-top: 50px;
}
.img img{
    width: 50%;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.3;
    position: absolute;
    /* background-color: yellowgreen; */
    padding-left: 60%;
    padding-top: 0px;
    justify-content: center;
    top: 50px;

}

.title h1{
    font-size: 60px;
    font-weight: 570;
}

.title p{
    font-size: 27px;
    color: #252525c7;
}

.title button{
    font-size: 18px;
    color: rgba(240, 248, 255, 0.947);
    width: 155px;
    height: 50px;
    border-radius: 18px;
    background-color: #252525;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    top: 500px;
    /* background-color: blue; */
    padding-left: 60%;
}


.a{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.b{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.a p{
    font-size: 25px;
    color: #252525c7;
}

.b p{
    font-size: 25px;
    color: #252525c7;

}

.a h2{
    font-size: 38;
    color: #25252579;
}
.b h2{
    font-size: 38;
    color: #25252579;}