<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto2</title>
    <link rel="stylesheet" href="../src/css/C-001.css">
</head>
<body>
    <header>
        <div class="inicio_1">
        <h1>Discover the beauty <br> aroud the world</h1>
        </div>
    </header>
    <main>
        <div class="inicio_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu <br>eget. Et integer facilisi eget diam.</p>
            <button>Explore</button>
        </div>
    <footer>
        <div class="final">
            <img src="../src/stora/img/Rectangle 3.png" alt="primera imagen">
            <img src="../src/stora/img/Rectangle 4.png" alt="segunda imagen">
            <img src="../src/stora/img/3.png" alt="tercera imagen">
            <img src="../src/stora/img/4.png" alt="quinta imagen">
            <br>
            <img src="../src/stora/img/1.png" alt="cuarta imagen">
            <img src="../src/stora/img/2.png" alt="">
            <img src="../src/stora/img/3 (1).png" alt="quinta imagen">
            <img src="../src/stora/img/4 (1).png" alt="">

        </div>
    </footer>

    </main>
