<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>
                Design is the way how you express the feelings            </h1>
        </div>
    </header>
    <main>
        <div class="numbers">
            <h2>01</h2>
            <h2>02</h2>
            <h2>03</h2>
            <h2>04</h2>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="image">
            <img src="/storage/img/Frame 14176 (1).png">
            <img src="/storage/img/Frame 14176 (2).png">
            <img src="/storage/img/Frame 14176 (3).png">
            <img src="/storage/img/Frame 14176 (4).png">
        </div>
            <section class="text_container">
            <div class="item">
                <h1>Title</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
                </p>
            </div>
            <div class="item">
                <h1>Title</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
                </p>
            </div>
            <div class="item">
                <h1>Title</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
                </p>
            </div>
            <div class="item">
                <h1>Title</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
                </p>
            </div>
        </section>
    </main>
    
</body>
</html>