<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina 2</title>
    <link rel="stylesheet" href="../src/css/C-002.css">
</head>
<body>
    <header>
        <div class="encabezado">
        <h1>Discorver the <br>beauty around <br>the world</h1>
        <img src="../src/storage/img/Image left.png" alt="primera imagen">
        <section>
            <div class="segundaImagen">
                <img  src="../src/storage/img/Image right.png" alt="segunda imagen">
            </div>
        </section>
        
        <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. <br> Faucibus in libero risus semper <br> habitant arcu.</p>
        <button>Get started</button>
        </div>
    </header>
    <main>
        <p>01</p>
        <p>02</p>
        <p>03</p>
    </main>
    <footer>
        <img src="../src/storage/img/5.png" alt="">
        <img src="../src/storage/img/5 (1).png" alt="">
        <img src="../src/storage/img/5 (2).png" alt="">
    </footer>
    
</body>
</html>