<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="titles">
            <div class="title1"><h1>Design.</h1></div>         
            <div class="title2"><h1>Create.</h1></div>
            <div class="title3"><h1>Inspire.</h1></div>
        </section>
        <div class="Gcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <button>Explore</button>
        </div>
    </header>
    <main>
        <section class="images">
            <div class="C1"></div>
                <img src="/storage/img/1.png" alt="">
                <img src="/storage/img/2.png" alt="">
                <img src="/storage/img/3.png" alt="">
                <img src="/storage/img/4.png" alt="">
            <div class="C2"></div>
                <img src="/storage/img/5.png" alt="">
                <img src="/storage/img/6.png" alt="">
                <img src="/storage/img/7.png" alt="">
                <img src="/storage/img/8.png" alt="">
            <div class="C3"></div>
                <img src="/storage/img/9.png" alt="">
                <img src="/storage/img/10.png" alt="">
                <img src="/storage/img/11.png" alt="">
                <img src="/storage/img/12.png" alt="">
            <div class="C4"></div>
                <img src="/storage/img/13.png" alt="">
                <img src="/storage/img/14.png" alt="">
                <img src="/storage/img/15.png" alt="">
                <img src="/storage/img/16.png" alt="">
        </section>
    </main>
</body>
</html>