<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>
                Just that simple
            </h1>
        </div>
        <div class="content">   
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.
            </p>
            <button>
                Get started
            </button>
        </div>
    </header>  
    <main>
        <div class="fondo">
            <img src="/storage/img/hero Image.png">
        </div>
    </main>
</body>
</html>