<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-004</title>
    <link rel="stylesheet" href="../src/css/C-004.css">
</head>
<body>
    <title>
        Projects and practice
    </title>
    <section class="cards">
        <div class="card">
            <p class="number">01</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quo unde repellendus fugiat. Praesentium a sunt voluptate error magni dolorum? Earum modi natus at quaerat eum ipsam quisquam suscipit officiis!</p>
            <img src="../src/storage/img/Frame 14165.png" alt="">
        </div>
        <div class="card">
            <p class="number">02</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quo unde repellendus fugiat. Praesentium a sunt voluptate error magni dolorum? Earum modi natus at quaerat eum ipsam quisquam suscipit officiis!</p>
            <img src="../src/storage/img/Frame 14165 (1).png" alt="">
        </div>
        <div class="card">
            <p class="number">03</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quo unde repellendus fugiat. Praesentium a sunt voluptate error magni dolorum? Earum modi natus at quaerat eum ipsam quisquam suscipit officiis!</p>
            <img src="../src/storage/img/Frame 14165 (2).png" alt="">
        </div>
    </section>
</body>
</html>