<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/C-006.css">
    <title>Document</title>
</head>
<body> 
    <header class="div_head">
        <div class="div_circle">
            <img src="/storage/img/Font circle.png">
        </div>
        <div class="div_txt">
            <h1>THE eWatch with the newest microchip technology</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu <br>eget. Et integer facilisi eget diam.</p>
            <br>
            <button class="div_button">
            Order now</button>
            <button class="div_button2">
            Explore more</button>
        </div>
        <main>
            <section class="div_img">
                <img src="/storage/img/Image group.png">
            </section>
            <section>
                <div class="div_table">
                    <div class="div_sol">
                        <img src="/storage/img/Icons.png">
                        <p>Lorem ipsu dolor amet</p>
                    </div>
                    <div class="div_star">
                        <img src="/storage/img/Icons (1).png">
                        <p>Lorem ipsu dolor amet</p>
                    </div>
                    <div class="div_eye">
                        <img src="/storage/img/Icons (2).png">
                        <p>Lorem ipsu dolor amet</p>
                    </div>
                    <div class="div_sol">
                        <img src="/storage/img/Icons (4).png">
                        <p>Lorem ipsu dolor amet</p>
                    </div>
                </div>
            </section>

        </main>
    </header>
</body>
</html>