<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>   
    <header>
        <div class="txt">
            <h1>Adventure
                Voyage
                Wandering</h1>
            <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. Faucibus<br>in libero risus semper habitant arcu eget. Et integer facilisi. </p>
            <button>Get started</button>
        </div>
            <div class="div_medio">
                <img src="/storage/img/image middle.png" alt=""></div>
            <div class="div_1">
                <img src="/storage/img/img1.png" alt=""></div>
            <div class="div_2">
                <img src="/storage/img/img2.png" alt=""></div>
            <div class="div_3">
                <img src="/storage/img/img3.png" alt=""></div>
            <div class="div_4">
                <img src="/storage/img/img4.png" alt=""></div>
            <div class="star2">
                <img src="/storage/img/Star 4.png" alt=""></div>
            <div class="star">
                <img src="/storage/img/Star 4.png" alt=""></div>
            <div class="div_menu">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus<br> semper habitant arcu eget.<br> 
                    Et integer facilisi </p>
                <h1>Trave
                    Explore
                    Discover</h1>
            </div>
    </header>
</body>
</html>