<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="div_menu">
        <h1>Discover.<br>
            Explore.<br>
            Inspire.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <button>Explore</button>
    </div>
    <div class="div_logo">
        <img src="/storage/img/shape wave.png">
    </div>
    <div class="div_espiral">
        <img src="/storage/img/Spiral 3.png">
    </div>
    <div class="div_superior">
        <img src="/storage/img/Frame 14178.png">
    </div>
    <div class="div_medio">
        <img src="/storage/img/Frame 14177.png">
    </div>
    <div class="div_bajo">
        <img src="/storage/img/Frame 14176.png">
    </div>
    <div class="div_estrella">
        <img src="/storage/img/Dawn.png">
    </div>
    <div class="div_estrella2">
        <img src="/storage/img/Dawn (1).png">
    </div>
    <div class="div_caja">
        <img src="/storage/img/Ellipse 2.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
    </div>
</body>
</html>