<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>   
    <header>
        <section class="content">
            <h1>Create your design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
            <button>Explore</button>
        </section>
    </header>
    <main>
        <div>
            <div class="n1">
                <img src="/storage/img/Image bottom.png" alt="">
            </div>
            <div class="n2">
                <img src="/storage/img/Image top.png" alt="">
            </div>
        </div>
        <div class="text1">
            <h1>01</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
        </div>
        <div class="text2">
            <h1>02</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
        </div>

        <div class="deco1">
            <img src="/storage/img/Explosion.png" alt="">
        </div>
        <div class="deco2">
            <img src="/storage/img/star.png" alt="">
        </div>
        <div class="deco3">
            <img src="/storage/img/Star.png" alt="">
            
        </div>
        <div class="deco4">
            <img src="/storage/img/Party.png" alt="">
        </div>
    </main>
</body>
</html>