<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="div_menu">
            <h1>Interior design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu eget.<br> Et integer facilisi eget.</p>
            <button>Explore</button>
        </div>
        <div class="div_img1">
            <img src="/storage/img/Image right.png">
        </div>
        <div class="div_img">
            <img src="/storage/img/Image left.png">
        </div>
        <div class="div_cuadro">
            <div class="div_cuadro1">
                <h1>5.8</h1>
                <img src="/storage/img/Rectangle 5.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibusin libero risus semper habitant arcu eget. </p>
            </div>
            <div class="div_cuadro2">
                <h1>99+</h1>
                <img src="/storage/img/Rectangle 5.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
            </div>
            <div class="div_cuadro3">
                <h1>110K</h1>
                <img src="/storage/img/Rectangle 5.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
            </div>
        </div>
    </header>    
</body>
</html>