@import url(/css/variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 170px;
    left: 110px;
}
body {
    font-family: "heavy", sans-serif;
    background-color: var(--color-7);
}

.images{
    position: absolute;
    left: 540px;
    top: 50px;
    padding-bottom: 50px;

}

.C1 img{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.C2 img{
    display: flex;
    flex-direction: column;
    position: absolute;

}

.C3 img{
    display: flex;
    flex-direction: column;
    position: absolute;

}

.C4 img{
    display: flex;
    flex-direction: column;
    position: absolute;

}

.titles{
    font-weight: 700;
    font-size: 45px;
    display: flex;
    flex-direction: column;
}

.title1{
    color: var(--color-4)
}
.title2{
    color: var(--color-5)
}
.title3{
    color: var(--color-6    )
}


.Gcontent{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "heavy2";
    font-weight: 100;
    font-size: 19px;
    color: var(--color-8);
    width: 31%;
}

.Gcontent button{
    font-size: 18px;
    height: 50px;
    border-radius: 22px;
    width: 137px;

}