@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div_menu{
    margin-left: 50px;
    margin-top: 180px;
    /* background-color: blue; */
    width: 50%;
    height: 370px;
}
.div_menu h1{
    font-size: 70px;
}
.div_menu p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.div_menu button{
    background-color: #FFDE81;
    font-size: 18px;
    width: 40%;
    height: 75px;
    border-radius: 60px;
    border: none;
}
.div_img{
    display: flex;
    position: absolute;
    top: 60px;
    left: 600px;
}
.caja{
    color: white;
    background-color: #49342f;
    display: flex;
    position: relative;
    width: 50%;
    height: 200px;
    align-items: center;
    padding: 30px;
    left: 50px;
    gap: 50px;
    border-radius: 30px;
    margin-top: 270px;
    margin-bottom: 50px;    
}
.caja h1{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    font-size: 25px;
    /* background-color: aqua; */
}
.caja p{
    padding-left: 40px;
    font-size: 18px;
}
.caja img{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}