:root{
    --color-1: #252525;
    --color-2: rgba(37, 37, 37, 0.8);
    --color-3: #252525CC;
    --color-4: rgba(37, 37, 37, 0.25);
    --color-5: #40252525;


}
@font-face {
    font-family: 'Avenir';
    src: url(../storage/fonts/avenir-heavy.ttf);
}
@font-face {
    font-family: "venir-heavy";
    src: url(../storage/fonts/avenir-heavy.ttf);
}
@font-face {
    font-family: 'avenir-roman';
    src: url(../storage/fonts/avenir-roman.ttf);
}