:root{
<<<<<<< HEAD
    --color-1: #eeeeeed7;
    --color-2: #00000073;
    --color-3: #252525e0;
    --color-4: #AB2706;
    --color-5: #FFFFFF;
    --color-6: #E5B94B;
=======
<<<<<<< HEAD
    --color-1: #eee;
    --color-2: #363830;
    --color-4: #c8cccf;
    --color-3: #97a3a3;
    --color-4: #c8cccf;

=======
<<<<<<< HEAD
    --color-1: #eeeeee29;
    --color-2: #00000073;
    --color-3: #252525e0;
>>>>>>> main
>>>>>>> main
}

@font-face {
    font-family: "heavy";
<<<<<<< HEAD
    src: url(/storage/font/avenir\ -\ copia/heavy);
=======
<<<<<<< HEAD
    src: url(/storage/fonts/avenir/AvenirLTStd-Heavy.otf);
=======
    src: url(/storage/font/avenir\ -\ copia/heavy);
=======
    --color-1: #252525;
}

@font-face {
    font-family: "Roboto-ExtraBold";
    src: url(../storage/fonts/Roboto/static/Roboto-ExtraBold.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(../stora/font/Metropoliss/Metropolis-Bold.otf);
}
@font-face {
    font-family: "Ravenir-roman";
    src: url(../stora/font/avenir-roman_freefontdownload_org/avenir-roman.ttf);
    }